<div id="nlj_structure" class="ilExplorerContainer" style="display:none;">
	<div class="jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="exp_node_ilNolejTree_{REF_ID}" aria-busy="false">
		<ul class="jstree-container-ul jstree-children jstree-no-dots jstree-no-icons" role="group">
			<!-- BEGIN list_section -->
			<li rel="disabled" data-jstree="{ disabled: true, opened: true }" aria-selected="false" aria-level="1" aria-labelledby="exp_node_ilNolejTree_{STRUCTURE_ID}_anchor" aria-disabled="true" aria-expanded="true" id="exp_node_ilNolejTree_{STRUCTURE_ID}" class="jstree-node jstree-open jstree-last">
				<i class="jstree-icon jstree-ocl" role="presentation"></i>
				<a class="jstree-anchor jstree-disabled" href="{SECTION_HREF}" tabindex="-1" id="exp_node_ilNolejTree_{STRUCTURE_ID}_anchor">
					{SECTION_ICON}
					<span class="loader"></span>
					<span class="ilExp2NodeContent">{SECTION_CONTENT}</span>
				</a>
				<ul role="group" class="jstree-children">
					<!-- BEGIN list_page -->
					<li role="treeitem" rel="disabled" data-jstree="{ disabled : true	}" aria-selected="false" aria-level="2" aria-labelledby="exp_node_ilNolejTree_{STRUCTURE_PAGE_ID}_anchor" aria-disabled="true" id="exp_node_ilNolejTree_{STRUCTURE_PAGE_ID}" class="jstree-node	jstree-leaf">
						<i class="jstree-icon jstree-ocl" role="presentation"></i>
						<a class="jstree-anchor jstree-disabled" href="{HREF}" tabindex="-1" id="exp_node_ilNolejTree_{STRUCTURE_PAGE_ID}_anchor">
							{ICON}
							<span class="loader"></span>
							<span class="ilExp2NodeContent<!-- BEGIN hl --> ilHighlighted<!-- END hl -->">{CONTENT}</span>
						</a>
					</li>
					<!-- END list_page -->
				</ul>
			</li>
			<!-- END list_section -->
		</ul>
	</div>
</div>

<div id="ilLMPageContent" class="ilc_page_frame_PageFrame">

	<div class="ilc_page_tnav_TopNavigation">
		<!-- BEGIN left_top_page -->
		<div class="ilc_page_lnav_LeftNavigation">
			<a class="ilc_page_lnavlink_LeftNavigationLink" href="{LEFT_HREF}">
				<img class="ilc_page_lnavimage_LeftNavigationImage" src="./templates/default/images/spacer.png" alt="Previous" title="Previous">
				{LEFT_TITLE}
			</a>
		</div>
		<!-- END left_top_page -->
		<!-- BEGIN right_top_page -->
		<div class="ilc_page_rnav_RightNavigation">
			<a class="ilc_page_rnavlink_RightNavigationLink" href="{RIGHT_HREF}">
				{RIGHT_TITLE}
				<img class="ilc_page_rnavimage_RightNavigationImage" src="./templates/default/images/spacer.png" alt="Next" title="Next">
			</a>
		</div>
		<!-- END right_top_page -->
		<div class="ilClearFloat"></div>
	</div>

	<div class="ilc_page_cont_PageContainer">
		<iframe id="nlj_iframe" src="{URL}" width="100%" style="border: 0;"></iframe>
	</div>

	<div class="ilc_page_bnav_BottomNavigation">
		<!-- BEGIN left_bottom_page -->
		<div class="ilc_page_lnav_LeftNavigation">
			<a class="ilc_page_lnavlink_LeftNavigationLink" href="{LEFT_HREF}">
				<img class="ilc_page_lnavimage_LeftNavigationImage" src="./templates/default/images/spacer.png" alt="Previous" title="Previous">
				{LEFT_TITLE}
			</a>
		</div>
		<!-- END left_bottom_page -->
		<!-- BEGIN right_bottom_page -->
		<div class="ilc_page_rnav_RightNavigation">
			<a class="ilc_page_rnavlink_RightNavigationLink" href="{RIGHT_HREF}">
				{RIGHT_TITLE}
				<img class="ilc_page_rnavimage_RightNavigationImage" src="./templates/default/images/spacer.png" alt="Next" title="Next">
			</a>
		</div>
		<!-- END right_bottom_page -->
		<div class="ilClearFloat"></div>
	</div>
</div>

<script type="text/javascript">
	const resize_ob = new ResizeObserver(function(entries) {
		let rect = entries[0].contentRect;

		// current width
		let width = rect.width;

		entries[0].target.style.height = width + "px";
	});

	// start observing for resize
	resize_ob.observe(document.querySelector("#nlj_iframe"));

	var toolBtnClicked = false;
	var toolBtn = document.querySelector(".il-mainbar-tools-button button");

	window.addEventListener("load", () => {
		if (toolBtn.classList.contains("engaged")) {
			setToolContent();
		} else {
			document.querySelector(".il-mainbar-tools-button button").addEventListener("click", () => {
				setToolContent();
			});
		}
	});

	function setToolContent() {
		if (toolBtnClicked) {
			return;
		}

		var toolMenu = document.querySelector(".il-mainbar-tools-entries.engaged");
		if (!toolMenu) {
			return;
		}

		var toolContent = getToolContent();
		if (toolContent) {
			var structure = document.querySelector("#nlj_structure");
			toolContent.appendChild(structure);
			structure.style.display = "";
			toolBtnClicked = true;
		}
	}

	function getToolContent() {
		var toolContentList = document.querySelectorAll(".il-maincontrols-slate.engaged .il-maincontrols-slate-content");
		for (i = 0; i < toolContentList.length; i++) {
			if (toolContentList[i].offsetWidth > 0 || toolContentList[i].offsetHeight > 0) {
				console.log(toolContentList[i]);
				return toolContentList[i];
			}
		}

		console.log("non trovato");
	}
</script>
