<!-- BEGIN properties -->
<hr class="il-item-divider" />
<!-- BEGIN property_row -->
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_A}</div>
			<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_A}</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-sm-5 col-lg-4 il-item-property-name">{PROP_NAME_B}</div>
			<div class="col-sm-7 col-lg-8 il-item-property-value il-multi-line-cap-3">{PROP_VAL_B}</div>
		</div>
	</div>
</div>
<!-- END property_row -->
<!-- END properties -->
