<!-- BEGIN filter_section -->
<div class="ilTableFilterSec" id="tfil_{FIL_ID}">
	<form action="{FILTER_ACTION}" method="post">
		<fieldset class="ilTableFilter">
			<table class="ilTableFilter">
				<!-- BEGIN filter_row -->
				<tr>
					<!-- BEGIN filter_item -->
					<td class="ilFilterOption">
						<div class="ilTableFilterLabel"><label for="{F_INPUT_ID}">{OPTION_NAME}</label></div>
						<div class="ilTableFilterInput">{INPUT_HTML}</div>
					</td>
					<!-- END filter_item -->
					<!-- BEGIN filter_empty_cell -->
					<td>&nbsp;</td>
					<!-- END filter_empty_cell -->
				</tr>
				<!-- END filter_row -->
			</table>
			<!-- BEGIN filter_buttons -->
			<span>
				<input type="submit" class="btn btn-default" name="applyFilter" value="{TXT_APPLY}" />
				<a class="btn btn-default" href="{LINK_RESET}">{TXT_RESET}</a>
			</span>
			<!-- END filter_buttons -->
		</fieldset>
	</form>
</div>
<!-- END filter_section -->

<!-- BEGIN partner -->
	<!-- BEGIN top_navigation -->
	<div class="ilTableNav yui-skin-sam">
		<table>
			<tr class="hidden-print">
				<td class="ilWhiteSpaceNowrap ilLeft ilValignMiddle" >
					<!-- BEGIN top_numinfo -->
					<span class="ilTableFootLight">{NUMINFO}</span>&nbsp;&nbsp;&nbsp;
					<!-- END top_numinfo -->
					<!-- BEGIN top_linkbar -->
					{LINKBAR}
					<!-- END top_linkbar -->
				</td>
				<td class="ilWhiteSpaceNowrap ilRight">
					<!-- BEGIN filter_activation -->
					<a class="btn btn-link ilTableFilterActivator" id = "atfil_{FILA_ID}" href="#" onclick="return ilShowTableFilter('tfil_{FILA_ID}', '{SAVE_URLA}');">{TXT_ACTIVATE_FILTER}</a>
					<!-- END filter_activation -->
					<!-- BEGIN filter_hidden -->
					<script>
						ilTableHideFilter['atfil_{FI_ID}'] = true;
						ilTableHideFilter['tfil_{FI_ID}'] = true;
						ilTableHideFilter['dtfil_{FI_ID}'] = true;
					</script>
					<!-- END filter_hidden -->

					{ROW_SELECTOR}

				</td>
			</tr>
		</table>
	</div>
	<!-- END top_navigation -->

	<div class="panel il-panel-listing-std-container clearfix">
		<h2>{TITLE}</h2>
		{ACTIONS}
		<div class="il-item-group">
			<div class="il-item-group-items">
				<form action="{FORM_ACTION}" method="post">
					<!-- BEGIN item -->
					<div class="il-std-item-container">
						{ITEM}
					</div>
					<!-- END item -->
					<!-- BEGIN form_submit -->
					<div class="il-standard-form-footer clearfix" style="text-align: right;">
						<div class="il-standard-form-cmd" style="font-size: 1.2em">
							<span>{TXT_CART_TOTAL}</span>
							<span id="total_{PARTNER_ID}"></span>
						</div>
						<div class="il-standard-form-cmd">
							<input class="btn btn-default" type="submit" value="{TXT_PURCHASE}">
						</div>
					</div>
					<!-- END form_submit -->
				</form>
			</div>
		</div>
	</div>

	<!-- BEGIN tbl_footer -->
	<div class="ilTableNav{BLK_CLASS} hidden-print">
		<div class="ilLeft" style="margin-top:5px;">
			<!-- BEGIN tbl_footer_numinfo -->
			<span class="ilTableFootLight">{NUMINFO}</span>&nbsp;&nbsp;&nbsp;
			<!-- END tbl_footer_numinfo -->
			<!-- BEGIN tbl_footer_linkbar -->
			{LINKBAR}
			<!-- END tbl_footer_linkbar -->
		</div>
	</div>
	<div style="clear:both;"></div>
	<!-- END tbl_footer -->

	<br /><br />
<!-- END partner -->

<script type="text/javascript">
	document.body.addEventListener("click", e => {
		var btn, evt = e ? e:event, changed = false;

		if (evt.srcElement) {
			btn = evt.srcElement;
		} else if (evt.target) {
			btn = evt.target;
		}

		if (btn.nodeName != "A") {
			return;
		}

		if (btn.classList.contains("cart-increase")) {
			var input = document.getElementById(btn.getAttribute("increase"));
			input.value = parseInt(input.value) + 1;
			changed = true;
		}

		if (btn.classList.contains("cart-decrease")) {
			var input = document.getElementById(btn.getAttribute("decrease"));
			input.value = parseInt(input.value) > 0 ? parseInt(input.value) - 1 : 0;
			changed = true;
		}

		// var total = 0;
		// if (changed) {
		// 	let partner = btn.getAttribute("partner");
		// 	var inputs = document.getElementsByClassName("take-part-" + partner);
		// 	for (let i = 0, len = inputs.length; i < len; i++) {
		// 		total += parseInt(inputs[i].value);
		// 	}
		// 	document.getElementById("total_" + partner).innerText = total;
		// }

	});
</script>
