<tr class="{CSS_ROW}">
	<!-- BEGIN checkbox_column -->
	<td class="std" style="vertical-align: top">
		<input type="checkbox" name="chbUser[]" value="{CHB_ROW_KEY}" id="cb_{CHB_ROW_KEY}" {VAL_CHECKED} />
	</td>
	<!-- END checkbox_column -->
	<!-- BEGIN login_column -->
	<td class="std" style="vertical-align: top">{login}</td>
	<!-- END login_column -->
	<!-- BEGIN fullName_column -->
	<td class="std" style="vertical-align: top">{fullName}</td>
	<!-- END fullName_column -->
	<!-- BEGIN email_column -->
	<td class="std" style="vertical-align: top">{email}</td>
	<!-- END email_column -->
	<!-- BEGIN license_column -->
	<td class="std" style="vertical-align: top">{license}</td>
	<!-- END license_column -->
	<!-- BEGIN lp_column -->
	<td class="std" style="vertical-align: top">{lp}</td>
	<!-- END lp_column -->
	<!-- BEGIN last_change_column -->
	<td class="std" style="vertical-align: top">{last_change}</td>
	<!-- END last_change_column -->
	<!-- BEGIN actions_column -->
	<td class="std" style="vertical-align: top">{actions}</td>
	<!-- END actions_column -->
</tr>
