<!-- BEGIN course -->
<div class="il-item il-std-item <!-- BEGIN color -->il-item-marker " style="border-color:{COLOR}<!-- END color -->">
	<div class="media">
		<div class="media-left">
			<!-- BEGIN lead_icon -->
			<div class="icon custom">
				<img class="nlj-course-img" src="{LEAD_ICON}" />
			</div>
			<!-- END lead_icon -->
		</div>
		<div class="media-body">
			<div class="il-item-title"><a href="{LINK}">{TITLE}</a></div>
			{ACTIONS}
			<!-- BEGIN quantity -->
			<div class="il-item-quantity">
				<a class="btn btn-default cart-decrease" href="#" decrease="{PARTNER_ID}_{COURSE_ID}" partner="{PARTNER_ID}">&nbsp;{DECREASE}&nbsp;</a>
				<input type="number" min="0" max="1000" id="{PARTNER_ID}_{COURSE_ID}" class="take-part-{PARTNER_ID}" name="courses[{COURSE_ID}]" value="{QUANTITY}" />
				<a class="btn btn-default cart-increase" href="#" increase="{PARTNER_ID}_{COURSE_ID}" partner="{PARTNER_ID}">&nbsp;{INCREASE}&nbsp;</a>
			</div>
			<!-- END quantity -->
			<!-- BEGIN desc -->
			<div class="il-item-description">{DESC}</div>
			<!-- END desc -->
			<!-- BEGIN properties -->
			{PROPERTIES}
			<!-- END properties -->
		</div>
	</div>
</div>
<!-- END course -->
