<tr class="{CSS_ROW}">
	<!-- BEGIN checkbox_column -->
	<td class="std" style="vertical-align: top">
		<input type="checkbox" name="chbUser[]" value="{CHB_ROW_KEY}" id="cb_{CHB_ROW_KEY}" {VAL_CHECKED} />
	</td>
	<!-- END checkbox_column -->
	<!-- BEGIN buyer_column -->
	<td class="std" style="vertical-align: top">{buyer}</td>
	<!-- END buyer_column -->
	<!-- BEGIN id_order_column -->
	<td class="std" style="vertical-align: top">{id_order}</td>
	<!-- END id_order_column -->
	<!-- BEGIN partner_column -->
	<td class="std" style="vertical-align: top">{partner}</td>
	<!-- END partner_column -->
	<!-- BEGIN price_column -->
	<td class="std" style="vertical-align: top">{price}</td>
	<!-- END price_column -->
	<!-- BEGIN created_column -->
	<td class="std" style="vertical-align: top">{created}</td>
	<!-- END created_column -->
	<!-- BEGIN updated_column -->
	<td class="std" style="vertical-align: top">{updated}</td>
	<!-- END updated_column -->
	<!-- BEGIN status_column -->
	<td class="std" style="vertical-align: top">{status}</td>
	<!-- END status_column -->
	<!-- BEGIN actions_column -->
	<td class="std" style="vertical-align: top">
		<!-- BEGIN item_command -->
		<a class="il_ContainerItemCommand" href="{HREF_COMMAND}">{TXT_COMMAND}</a>
		<!-- END item_command -->
	</td>
	<!-- END actions_column -->
</tr>
